<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1><%= title %></h1>
  <p>This is a simple Node.js website using Express and EJS For Hosting using AWS.</p>
</body>
</html>
